{% extends "base.html" %}

{% block title %} Success {% endblock %}

{% block content %}

    <div class="d-flex align-items-center justify-content-center vh-100 bg-dark text-center">
        <div>
            <p class="display-4 font-weight-bold text-light">
                Your password has set
            </p>
            <br><br>
            <p class="text-light">
                Use the new password.<br>
            </p>
            <br><br>
            <div class="p-2">
                <a href="{% url 'login' %}" class="btn btn-success">
                    Sign in
                </a>
            </div>
        </div>
    </div>

{% endblock content %}